<div class="table-container">
	<table class="data-table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Job Title</th>
				<th>Admin Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @volunteer.firstName %></td>
				<td><%= @volunteer.lastName %></td>
				<td><%= @volunteer.emailSignIn %></td>
				<td><%= @volunteer.title %></td>
				<td><% if @volunteer.admin == true %>
                        <div class="glyphicon glyphicon-ok"></div>
                    <% else %>
                        <div class="glyphicon glyphicon-remove" style="color:red"></div>
                    <% end %></td>
			
                <td><%= link_to @volunteer_path do %>
                        <i class="glyphicon glyphicon-info-sign" style="color:#377bb5"></i>
                    <% end %>            
              		  <%= link_to edit_volunteer_path do %>
                        <i class="glyphicon glyphicon-cog" style="color:grey"></i>
                    <% end %></td> </td>
			</tr>		
</tbody>

<div>

<% if same_admin_user(@volunteer) %>
<h2>Admin Dashboard</h2>
	<li><%= link_to "System Users", volunteers_path %></li>
    <li><%= link_to "Organization Overview", organizations_path %></li>
    <li><%= link_to "Tool Overview", tools_path %></li>
    <li><%= link_to "Sites Overview", sites_path %></li>
    <li><%= link_to "Ceremonies Overview", ceremonies_path %></li>
    <li><%= link_to "Projects without a Site", request_path %></li>
    <li><%= link_to "Project Reports Overview", reports_path %></li>
    <li><%= link_to "Short-Term Events Overview", projects_path %></li>
    <li><%= link_to "Evaluation Report Overview", projects_path %></li>
    <li><%= link_to "Generate TCB Reports", queries_path %></li>

<% end %>
</div>

<div class="col-lg-3 col-xs-3">
        <% if current_user.try(:admin?)  %>
    	    <%= form_for @volunteer do |f| %>
                <h5>Admin User? <%= f.check_box :admin %></h5>
                <%= f.submit(@volunteer.new_record? ? "Register" : "Set Privileges", class: "btn btn-success") %>
		    <% end %>
        <% else %>
        <% end %>
</div> 