<div class="table-container">
	<table class="data-table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Job Title</th>
				<th>Admin Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @volunteer.firstName %></td>
				<td><%= @volunteer.lastName %></td>
				<td><%= @volunteer.emailSignIn %></td>
				<td><%= @volunteer.title %></td>
				<td><% if @volunteer.admin == true %>
                        <div class="glyphicon glyphicon-ok"></div>
                    <% else %>
                        <div class="glyphicon glyphicon-remove" style="color:red"></div>
                    <% end %></td>
			
                <td><%= link_to @volunteer_path do %>
                        <i class="glyphicon glyphicon-info-sign" style="color:#377bb5"></i>
                    <% end %>            
              		  <%= link_to edit_volunteer_path do %>
                        <i class="glyphicon glyphicon-cog" style="color:grey"></i>
                    <% end %></td> </td>
			</tr>		
</tbody>
<div>
<% if require_same_user(@volunteer) %>
<% if current_user.try(:admin?) %>

	<%= link_to "System Users", volunteers_path %>
    <%= link_to "Organizations", organizations_path %>
    <%= link_to "Tools", tools_path %>
    <%= link_to "Sites", sites_path %>
    <%= link_to "Ceremonies", ceremonies_path %>
    <%= link_to "Project Requests", request_path %>
    <%= link_to "Projects", projects_path %>


<% end %>
<% end %>
</div>