<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo">Add Sign</button>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel3">Add Sign</h4>
      </div>
      		<%= form_for ([@ceremony, Sign.new]) do |f| %>
		<%= f.hidden_field :ceremony_id, :value => @ceremony.id %>

      <div class="modal-body">
          <div class="form-group">
            <h5>Miles Needed:</h5>
		    <%= f.text_field :milesNeeded %>
          </div>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <h5>Sign Placement:</h5>
		    <%= f.text_field :signPlacement %>
          </div>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <h5>Sign Location:</h5>
		    <%= f.text_field :signLocation %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit(Sign.new ? "Create" : "Edit Sign", class: "btn btn-default")%>
		<% end %>
      </div>
    </div>
  </div>
</div>
<div>


<script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>