<tbody>
			<tr>
			    <% if @var == 1%>
			    <td><%= ceremony.project.organization.organizationName %></td>
			    <td><%= ceremony.project.projectName %></td>
			    <% end %>
				<td><%= ceremony.ceremonyName %></td>
				<td><%= ceremony.locationPreference %></td>
				<td><% if ceremony.agreementSigned == true %>
                        <div class="glyphicon glyphicon-ok"></div>
                    <% else %>
                        <div class="glyphicon glyphicon-remove" style="color:red"></div>
                    <% end %></td>
				<td><%= ceremony.date.try(:strftime, "%m/%d/%Y") %></td>
			
                <td><%= link_to ceremony_path(ceremony) do %>
                        <i class="glyphicon glyphicon-info-sign" style="color:#377bb5"></i>
                    <% end %>            
              		  <%= link_to edit_ceremony_path(ceremony) do %>
                        <i class="glyphicon glyphicon-cog" style="color:grey"></i>
                    <% end %></td> </td>
			</tr>		
</tbody>
