<%= render 'shared/page_title', title: "Ceremony Information" %>
<div>
<div class="row">

    <div class="col-lg-4 col-xs-4 col-lg-offset-2">
        <p>
            <h3>Ceremony Name: <%= @ceremony.ceremonyName %></h3>
			<h4>Location Preference: <%= @ceremony.locationPreference %></h4>
			<h4>Agreement Signed: <%= @ceremony.agreementSigned %></h4>
			<h4>Date: <%= @ceremony.date.try(:strftime, "%m/%d/%Y") %></h4>
			<%= link_to "Edit Ceremony", edit_ceremony_path(@ceremony), class:"btn btn-default btn-primary" %>
        </p>
    </div>
    <div class="col-lg-3 col-xs-3 col-lg-offset-2">
        <% if current_user.try(:admin?)  %>
    	    <%= form_for @ceremony do |f| %>
                <h5>Agreement Signed <%= f.check_box :agreementSigned %></h5>
                <%= f.submit(@ceremony.new_record? ? "Register" : "Set Privileges", class: "btn btn-success") %>
		    <% end %>
        <% else %>
        <% end %>
        <%= render 'addnotes' %>
		<%= render 'addsigns' %>
		<%= render 'addawards' %>
    </div> 
</div>
</div>

<div class="col-lg-12">
<%= render 'shared/page_title', title: "Ceremony Awards" %>

<div class="table-container">
	<table class="data-table ">
		<thead>
			<tr>
				<th>Ceremony Award Title</th>
				<th>Ceremony Award Information</th>
				<th>Date Created</th>
				<th>Delete</th>
			</tr>
		</thead>
<tbody>
  <%= render(partial: 'ceremonyawards/ceremonyaward', collection: @ceremony.ceremonyawards) %>
</tbody>
</table>
</div>

<%= render 'shared/page_title', title: "Ceremony Notes" %>
<div class="table-container">
	<table class="data-table">
		<thead>
			<tr>
				<th>Ceremony Notes</th>
				<th>Date Created</th>
				<th>Delete</th>
			</tr>
		</thead>
<tbody>
  <%= render(partial: 'ceremonynotes/ceremonynote', collection: @ceremony.ceremonynotes) %>
</tbody>
</table>
</div>

<%= render 'shared/page_title', title: "Ceremony Signs" %>
<div class="table-container">
	<table class="data-table">
		<thead>
			<tr>
				<th>Miles Needed</th>
				<th>Sign Placement</th>
				<th>Sign Location</th>
				<th>Date Created</th>
				<th>Delete</th>
			</tr>
		</thead>
<tbody>
  <%= render(partial: 'signs/sign', collection: @ceremony.signs) %>
</tbody>
</table>
</div>


</div>


