<div class="table-container">
	<table class="data-table">
		<thead>
			<tr>
				<th>Ceremony Name</th>
				<th>Location Preference</th>
				<th>Agreement Signed</th>
				<th>Date</th>
			</tr>
		</thead>
<tbody>
			<tr>
				<td><%= @ceremony.ceremonyName %></td>
				<td><%= @ceremony.locationPreference %></td>
				<td><%= @ceremony.agreementSigned %></td>
				<td><%= @ceremony.date %></td>
			
                <td><%= link_to ceremonies_path(@ceremony) do %>
                        <i class="glyphicon glyphicon-info-sign" style="color:#377bb5"></i>
                    <% end %>            
              		  </td>
			</tr>		
</tbody>


		

<ul>
  <%= render(partial: 'ceremonyawards/ceremonyaward', collection: @ceremony.ceremonyawards) %>
</ul>

<ul>
  <%= render(partial: 'ceremonynotes/ceremonynote', collection: @ceremony.ceremonynotes) %>
</ul>

<ul>
  <%= render(partial: 'signs/sign', collection: @ceremony.signs) %>
</ul>

<%= render 'addnotes' %>
<%= render 'addsigns' %>
<%= render 'addawards' %>
