<tbody>
			<tr>
			    <% if @var == 1 %>
				<td><%= toolcheck.organization.organizationName %></td>
				<% end %>
				<td><%= toolcheck.tool.toolName %></td>
				<% if toolcheck.Type == '1' %>
				<td>Checked Out</td>
				<% elsif toolcheck.Type == '2' %>
				<td>Returned</td>
				<% else %>
				<td>Other</td>
				<% end %>
				<% if toolcheck.Status == NIL %>
				<td>None</td>
				<% else %>
				<td><%= toolcheck.Status %></td>
				<% end %>
				<td><%= toolcheck.quantityRented %></td>
				<% if toolcheck.approved == false %>
				<td>No</td>
				<% else %>
				<td>Yes</td>
				<% end %>
				<td><%= toolcheck.dateCheckedOut.try(:strftime, "%m/%d/%Y") %></td>
				<td><%= link_to toolcheck_path(toolcheck) do %>
                        <i class="glyphicon glyphicon-info-sign" style="color:#377bb5"></i>
                    <% end %>            
              		  <%= link_to edit_toolcheck_path(toolcheck) do %>
                        <i class="glyphicon glyphicon-cog" style="color:grey"></i>
                        <% end %>
                 <%= link_to '',  toolcheck,  method: :delete, data: { confirm: 'Are you sure?' }, class:"glyphicon glyphicon-remove cog1" %>
	            	</td>
			</tr>		
</tbody>