<%= render 'shared/page_title', title: "All Parks" %>
<ul class="nav nav-tabs">
    <li>
		<%= link_to "All Sites", sites_path %>
	</li>
	<li>
		<%= link_to "Streets", streets_path %>
	</li>
	<li  class="active">
		<%= link_to "Parks", parks_path %>
	</li>	
	<li>
		<%= link_to "Washs", washes_path %>
	</li>

</ul>

<%= form_tag(parks_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Parks" %>
<%= submit_tag "Search" %>
<% end %>

<% if @parks.present? %>
<div class="table-container">
	<table class="data-table">
		<thead>
			<tr>
				<th>Site Street</th>
				<th>Cross-Streets</th>
				<th>County</th>
				<th>Zip Code</th>
				<th>City Ward Number</th>
				<th>County District</th>

			</tr>
		</thead>
  <%= render @parks %>
  	</table>
</div>
<% else %>
  <p>There are no Parks containing the information <%= params[:search] %> exist.</p>
<% end %>
