<tbody>
			<tr>
				<td><%= street.id %></td>
				<td><%= street.start %></td>
				<td><%= street.end %></td>
				<td><%= street.direction %></td>
				<td><%= street.miles %></td>
				
			</tr>		
</tbody>
	