<%= render 'shared/page_title', title: "Tucson Clean & Beautiful Reporting" %>

<table class="data-table">
		<thead>
			<tr>
				<th>Report On</th>
				<th>Report Style</th>
				<th>Description</th>
				<th>Go to Report</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Ceremonies</td>
				<td>Summary</td>
				<td>Specify the year to see all Ceremonies and related information.</td>
                <td><%= link_to "View Report", queryone_path, class:"btn btn-default btn-primary" %>
			</tr>
			<hr></hr>
			<tr>
				<td>Sites</td>
				<td>Aggregation</td>
				<td>Site Assignment Count for Projects and Short Term Events.</td>
                <td><%= link_to "View Report", querytwo_path, class:"btn btn-default btn-primary" %>
			</tr>
			<tr>
				<td>Tools</td>
				<td>Summary</td>
				<td>The Number of Tools for each Type.</td>
                <td><%= link_to "View Report", querythree_path, class:"btn btn-default btn-primary" %>
			</tr>
			<tr>
				<td>Tools</td>
				<td>Summary</td>
				<td>The Number of Tools for each Type.</td>
                <td><%= link_to "View Report", queryfour_path, class:"btn btn-default btn-primary" %>
			</tr>
			<tr>
				<td>Tools</td>
				<td>Summary</td>
				<td>The Number of Tools for each Type.</td>
                <td><%= link_to "View Report", queryfive_path, class:"btn btn-default btn-primary" %>
			</tr>
			<tr>
				<td>Tools</td>
				<td>Summary</td>
				<td>The Number of Tools for each Type.</td>
                <td><%= link_to "View Report", querysix_path, class:"btn btn-default btn-primary" %>
			</tr>
			<tr>
				<td>Tools</td>
				<td>Summary</td>
				<td>The Number of Tools for each Type.</td>
                <td><%= link_to "View Report", queryseven_path, class:"btn btn-default btn-primary" %>
			</tr>
			<tr>
				<td>Tools</td>
				<td>Summary</td>
				<td>The Number of Tools for each Type.</td>
                <td><%= link_to "View Report", queryeight_path, class:"btn btn-default btn-primary" %>
			</tr>
			<tr>
				<td>Tools</td>
				<td>Summary</td>
				<td>The Number of Tools for each Type.</td>
                <td><%= link_to "View Report", querynine_path, class:"btn btn-default btn-primary" %>
			</tr>
			<tr>
				<td>Tools</td>
				<td>Summary</td>
				<td>The Number of Tools for each Type.</td>
                <td><%= link_to "View Report", queryten_path, class:"btn btn-default btn-primary" %>
			</tr>
			
</tbody>