<%= render 'shared/page_title', title: "Tucson Clean & Beautiful Reporting" %>

<table class="data-table">
		<thead>
			<tr>
				<th>Report On</th>
				<th>Report Style</th>
				<th>Description</th>
				<th>Go to Report</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Ceremonies</td>
				<td>Summary</td>
				<td>Specify the year to see all Ceremonies & related information.</td>
                <td><%= link_to "View Report", queryone_path, class:"btn btn-primary" %>
			</tr>
			<tr>
				<td>Evaluation Reports</td>
				<td>Search</td>
				<td>Find evaluation reports based on the evaluation periods.</td>
                <td><%= link_to "View Report", queryeight_path, class:"btn btn-primary" %>
			</tr>
			<tr>
				<td>Group Coordinators</td>
				<td>Summary</td>
				<td>Lists each group coordinator & displays them in the order of longest serving term.</td>
                <td><%= link_to "View Report", queryten_path, class:"btn btn-primary" %>
			</tr>
			<tr>
				<td>Regular Members</td>
				<td>Summary</td>
				<td>Top 5 Regular Members.</td>
                <td><%= link_to "View Report", queryseven_path, class:"btn btn-primary" %>
			</tr>
			<tr>
				<td>Organizations</td>
				<td>Aggregation</td>
				<td>Lists each Organization & displays the total Projects, Short Term Events, Ceremonies, & Signs.</td>
                <td><%= link_to "View Report", querynine_path, class:"btn btn-primary" %>
			</tr>
			<tr>
				<td>Projects</td>
				<td>Summary</td>
				<td>The amount of time in days a project was active before a ceremony was created.</td>
                <td><%= link_to "View Report", querythree_path, class:"btn btn-primary" %>
			</tr>
			<tr>
				<td>Projects</td>
				<td>Aggregation</td>
				<td>Aggregates report data on projects to sum the amount of volunteers & hours.</td>
                <td><%= link_to "View Report", queryfour_path, class:"btn btn-primary" %>
			</tr>
			<tr>
				<td>Tool Checkouts</td>
				<td>Aggregation</td>
				<td>Aggregates on Tool Name for the amount of approved checkouts calulating the quantity of rented & returns.</td>
                <td><%= link_to "View Report", queryfive_path, class:"btn btn-primary" %>
			</tr>
			<tr>
				<td>Sites</td>
				<td>Aggregation</td>
				<td>Site Assignment Count for Projects & Short Term Events.</td>
                <td><%= link_to "View Report", querytwo_path, class:"btn btn-primary" %>
			</tr>
			<tr>
				<td>Sites</td>
				<td>Summary</td>
				<td>Site Summary of type & area details.</td>
                <td><%= link_to "View Report", querysix_path, class:"btn btn-primary" %>
			</tr>
		
</tbody>