<%= link_to "Back", queries_path, class:"btn  btn-primary" %>
<%= render 'shared/page_title', title: "Report: Top 5 Regular Members." %>
<%= form_tag(queryseven_path, :method => "get", id: "search-form") do %>
<h4> Specify (if other than 5) the top number of regular members to display: <%= select_tag :search, options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])%> <%= submit_tag "Search" %></h4>
<% end %>

<div class="table-container">
	<table class="data-table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Reported Hours</th>
			</tr>
		</thead>
<% @query.each do |r| %>
		<tbody>
			<tr>
				<td><%= r.firstName %></td>
				<td><%= r.lastName %></td>
				<td><%= r.reportedHours %></td>
			</tr>		
		</tbody>
  <% end %>
  </table>
 