<%= render 'shared/errors', obj: @organization %>
<div>
	<div>
		<%= form_for @organization do |f| %>
		<h5>Organization Name:</h5>
		<%= f.text_field :organizationName %>
		<h5>Street Address:</h5>
		<%= f.text_field :organizationStreet %>
		<h5>City:</h5>
		<%= f.text_field :organizationCity, :value => 'Tucson' %>
		<h5>State:</h5>
		<%= f.text_field :organizationState, :value => 'AZ' %>
		<h5>Zip Code:</h5>
		<%= f.text_field :organizationZip, :value => '857' %>
		<h5>Phone Number:</h5>
		<%= f.text_field :organizationPhone, :value => '520'%>
	
		<%= f.submit(@organization.new_record? ? "Register" : "Edit Organization", class:"btn btn-primary") %>
		<% end %>
	</div>
</div>
