<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Request New Project</button>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel2">Request New Project</h4>
      </div>
      	<%= form_for([@organization, Project.new]) do |f| %>
			
			    <div class="field">
			      <%= f.hidden_field :organization_id, :value => @organization.id %>

      <div class="modal-body">
          <div class="form-group">
            <h5>Project Name:</h5>
		    <%= f.text_field :projectName %>
          </div>
          <div class="form-group">
            <h5>Yearly Participants:</h5>
		    <%= f.text_field :yearlyParticipants %>
          </div>
          <div class="form-group">
            <h5>Requested Start Date:</h5>
			<%= f.text_field :startDate, :id => "datepicker3", :value => Date.today %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Request Project", class: "btn btn-success" %>
		<% end %>
      </div>
    </div>
  </div>
</div>
</div>


<script>
$('#exampleModal2').modal('show');
  $(window).load(function(){
        $('#exampleModal2').modal('hide');
    });
</script>
<script>
$('#datepicker3').datepicker({format: 'yyyy-mm-dd'});

</script>
