<%= render 'shared/errors', obj: @site %>
<div>
	<div>
		<%= form_for @site do |f| %>
		<h5>Site Subtype:</h5>
		<%= f.select :subtype, ['Wash', 'Park', 'Street']%>
		<h5>Site Street:</h5>
		<%= f.text_field :siteStreet %>
		<h5>Cross-Streets:</h5>
		<%= f.text_field :siteCrossStreets %>
		<h5>County:</h5>
		<%= f.text_field :siteCounty , :value => 'Pima' %>
		<h5>Zip Code:</h5>
		<%= f.text_field :siteZip, :value => '857'  %>
		<h5>City Ward Number:</h5>
		<%= f.text_field :cityWardNumber %>
		<h5>County District:</h5>
		<%= f.text_field :countyDistrict %>

	
		<%= f.submit(@site.new_record? ? "Register Site" : "Edit Site") %>
		<% end %>
	</div>
</div>
