<tbody>
			<tr>
				<td><%= site.subtype %></td>
				<td><%= site.siteStreet %></td>
				<td><%= site.siteCrossStreets %></td>
				<td><%= site.siteCounty %></td>
				<td><%= site.siteZip %></td>
				<td><%= site.cityWardNumber %></td>
				<td><%= site.countyDistrict %></td>
				
			</tr>		
</tbody>
	